{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <center>
        {% if produto  %}
        <div>
            <h1>{{produto}}</h1>
            <p>Preço: R${{produto.preco}}</p>
            <p>Estoque: {{produto.estoque}} unidades.</p>
        </div>
        {% endif %}
        <p><a href="{% url "index" %}">Voltar para a página inicial</a></p>
    </center>
</body>
</html>